.gradient img {
  max-width: 600px;
}

.gradient {
  background: linear-gradient(180deg,
      #ecd8cd 85.55%,
      rgba(255, 255, 255, 0.3) 100%);
  mix-blend-mode: normal;
}

.fundo {
  height: auto;
  mix-blend-mode: normal;
  background: #edd9ce;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0 0 0 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

/*

  Meta Do Dia
  Inicio

*/

.metaDia {
  position: relative;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}

.btn-style button {
  background-color: #7a3a28;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tituloMeta {
  white-space: nowrap;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  padding-bottom: 20px;
  padding-top: 30px;
}

.tituloMeta h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
}

.titulo {
  white-space: nowrap;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 38px;
  font-weight: bold;
}

.subtitulo {
  font-size: 28px;
  font-weight: bold;
}

/*

  Meta Do Dia
  Fim

*/

/*

  Quem Somos
  Inicio

*/

.quemSomos {
  width: 100vw;
  background-color: #ffffff;
}

.tituloQuemSomos {
  padding-top: 100px;
  white-space: nowrap;
  text-align: center;
}

.tituloQuemSomos h1 {
  font-size: 40px;
  font-weight: 700;
}

.sobreNos {
  padding-top: 125px;
  width: 370px;
  text-align: center;
  margin-bottom: 30px;
}

.sobreNos h1 {
  font-size: 18px;
  font-weight: 700;
}

.conteinerHorizontal {
  display: flex;
  justify-content: space-around;
}

.conteinerHorizontal div {
  text-align: center;
}

.textTamanho {
  max-width: 370px;
}




.text {
  margin-top: 20px;
  text-align: justify;
  color: #525252;
  font-size: 13px;
}

/*

  Quem Somos
  Fim

*/

/*

  Footer
  Inicio

*/

footer {
  background: #525252;
  position: relative;
  font-style: normal;
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  padding-bottom: 25px;
}

footer div {
  padding-top: 12px;
}

footer h1 {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

footer li {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 13px;
  list-style: none;
  cursor: pointer;
}

/*

  Footer
  Fim

*/

.meta img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  border: 2px solid #a1897c;
}

.btn-am {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.altura {
  height: 117px;
}

.centralizarCard {
  display: flex;
  width: max-content;
  margin: auto;
}

.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  height: 100px;
  overflow: auto;
}

.tamanho {
  padding-bottom: 120px;
}

.tamanhoIcons {
  font-size: 25px;
}

.loginIcon {
  font-size: 30px;
  color: black;
}

.loginDiv{
  text-align: center;
  margin-top: 10px;
}

.logintxt{
  color: black;
  font-size: 13px;
  margin-bottom: 0rem;
}

.plus {
  font-size: 100px;
  color: black;
}

.tituloCard {
  font-weight: bold;
}

label {
  width: 80px;
}

.btn-ctt {
  display: flex;
  margin: auto;
}

.input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 300px;
}

.btnAddImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: #525252;
  text-align: center;
  font-size: 30px;
  object-fit: cover;
}

.distancia {
  padding-bottom: 180px;
}

.btnEditImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  background: url("../img/imagem_meta.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  border: 2px solid #a1897c;
}

.cachorroFone {
  position: relative;
  z-index: 0;
  width: 530px;
  height: 585px;
}

.backgroundMenu {
  background: #525252;
}

.risco {
  background: url("../img/fundo_titulo.png");
  background-repeat: no-repeat;
  background-size: 310px;
  background-position: 50% 0%;
}

ul {
  margin: 0px;
  padding: 0px;
}

footer a {
  color: white;
}
footer a:hover{
  color: white;
}

div a {
  text-decoration: none;
}

div a:hover {
  text-decoration: none;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edd9ce;
}

#header div{
  display: flex;
  align-items: center;
  vertical-align: center;
}

#header div a i{
  text-decoration: none;
  color: black;
}

#header div a{
  color: black;
  text-decoration: none;
}


#headerChat {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #8a4431f1;
}

#menu {
  display: block;
  position: absolute;
  list-style: none;
  gap: 0.5rem;
  width: 260px;
  left: 0%;
  top: 70px;
  background: #525252;
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
  border-radius: 10px;
}

#nav.active #menu {
  height: 235px;
  visibility: visible;
  overflow-y: auto;
}

#menu a {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  color: white;
  text-decoration: none
}

#menu a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#btn-mobile {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}

#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav.active #hamburger {
  border-top-color: transparent;
}

#nav.active #hamburger::before {
  transform: rotate(135deg);
}

#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}

.padraoTela {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginTitulo {
  white-space: nowrap;
  display: flex;
  width: max-content;
  padding-bottom: 20px;
  padding-top: 30px;
  font-size: 38px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.formresponsivo {
  max-width: 1200px;
  width: 80vw;
}

.novo form {
  width: 100%;
}

.corpoChat {
  height: 80vw;
}

@media (max-width: 768px) {
  footer h1 {
    font-size: 13px;
  }

  footer li {
    font-size: 8px;
  }

  .charles {
    flex-direction: column;
  }
}


.btnvini input[type="file"] {
  border-style: solid;
  border-color: rgba(118, 118, 118, 255);
  border-width: 1px;
  background-color: white;
  width: 300px;
  height: 30px;
}

.btnvini input[type="file"]::file-selector-button {
  display: none;
}

.btnvini input[type="file"]:hover {
  cursor: pointer;
}

.viniCard {
  display: flex;
  width: 100%;
  height: auto;

  /*flex-direction: row;
*/

}

.cartaoADD {
  height: 441px;
  width: 288px;
  margin-right: 50px;
  margin-bottom: 35px;
}

.cartaoADD a {
  height: 100%;
  width: 100%;
}

.cartaoADD div {
  flex: 1 1 auto;
  padding: 0px;
}

.VAIDARCERTO {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 35px;
}

.BATATA {
  margin-left: 25px;
  margin-bottom: 20px;
}

/*

flex-wrap: wrap;
  height: auto;

*/
.BATATA1 {
  margin-left: 25px;
  margin-bottom: 20px;
}

.VAIDARCERTO1 {
  display: flex;
  max-width: 1500px;
  height: auto;
  flex-wrap: wrap;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  height: 50%;
  width: auto;
}

.linkCadastro {
  text-align: right;
}