* {
    box-sizing: border-box;
    margin:0;
}

.container {
    width: 100%;
    height: 2191px;
    position: relative;
}

body {
    font-family: Roboto;
}

h1 {
    position: absolute;
    font-weight: Bold;
    font-size: 34px;
}

p {
    position: absolute;
    color: rgb(89, 89, 89);
    font-size: 16px;
    left: 135px;
    text-align: justify; 
}

h1.tituloAUA {
    top: 265px;
    left: 194px;
}

p.textoAUA {
    width: 370px;
    top: 319px;
}

.v49_11 {
    width: 100%;
    height: 779px;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 1412px;
}

.v52_55 {
    width: 100%;
    height: 779px;
    background: linear-gradient(to top,rgba(236, 216, 205, 1), rgba(255, 255, 255, 1));
    position: absolute;
}

.v33_20 {
    width: 220px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 506px;
    left: 825px;
}

.v33_21 {
    width: 220px;
    height: 42px;
    background: rgba(122, 58, 36, 0.75);
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.v33_22 {
    width: 124px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 11px;
    left: 48px;
    font-weight: Bold;
    font-size: 16px;
    text-align: left;
}

.TextoMeta {
    width: 370px;
    color: rgba(89, 89, 89, 1);
    position: absolute;
    top: 348px;
    left: 750px;
    font-weight: Regular;
    font-size: 16px;
    text-align: justified;
}

.imagemMeta {
    width: 310px;
    height: 283px;
    background: url("/imagem/imagem_meta.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 276px;
    left: 315px;
    border-top-left-radius: 139px;
    border-top-right-radius: 139px;
    border-bottom-left-radius: 139px;
    border-bottom-right-radius: 139px;
}

.v49_4 {
    width: 92px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 276px;
    left: 889px;
    font-weight: Bold;
    font-size: 26px;
    text-align: left;
}

.Meta {
    width: 222px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 145px;
    left: 609px;
    font-weight: Bold;
    font-size: 42px;
    text-align: left;
}

.v104_11 {
    width: 100%;
    height: 94px;
    background: url("../images/v104_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 2097px;
}

.RodaPe {
    width: 100%;
    height: 94px;
    background: rgba(81, 81, 81, 1);
    opacity: 0.85;
    position: absolute;
}

.v105_21 {
    width: 95px;
    height: 64px;
    background: url("../images/v105_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 708px;
}

.v104_12 {
    width: 59px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 29px;
    font-weight: Regular;
    font-size: 13px;
    text-align: justified;
}

.v104_13 {
    width: 95px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-weight: Bold;
    font-size: 16px;
    text-align: justified;
}

.v104_14 {
    width: 48px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 49px;
    font-weight: Regular;
    font-size: 13px;
    text-align: justified;
}

.v105_20 {
    width: 118px;
    height: 64px;
    background: url("../images/v105_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 370px;
}

.v104_16 {
    width: 37px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 49px;
    font-weight: Regular;
    font-size: 13px;
    text-align: justified;
}

.v104_15 {
    width: 87px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 29px;
    font-weight: Regular;
    font-size: 13px;
    text-align: justified;
}

.v105_18 {
    width: 118px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-weight: Bold;
    font-size: 16px;
    text-align: justified;
}

.v105_22 {
    width: 46px;
    height: 44px;
    background: url("../images/v105_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 1023px;
}

.v105_23 {
    width: 46px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 29px;
    font-weight: Regular;
    font-size: 13px;
    text-align: justified;
}

.v105_19 {
    width: 42px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-weight: Bold;
    font-size: 16px;
    text-align: justified;
}

.v63_71 {
    width: 100%;
    height: 644px;
    background: url("../images/v63_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 768px;
}

.v63_73 {
    width: 100%;
    height: 644px;
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.v63_67 {
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 458px;
    left: 365px;
}

.v63_68 {
    width: 90px;
    height: 59px;
    background: url("/imagem/icon_pessoas.png");
    position: absolute;
    top: 15px;
}

.v49_7 {
    width: 122px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 225px;
    left: 354px;
    font-weight: Bold;
    font-size: 18px;
    text-align: center;
}

.v67_3 {
    width: 122px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 225px;
    left: 964px;
    font-weight: Bold;
    font-size: 18px;
    text-align: center;
}

.v60_62 {
    width: 370px;
    color: rgba(49, 49, 49, 1);
    position: absolute;
    top: 284px;
    left: 230px;
    font-weight: Regular;
    font-size: 16px;
    text-align: justified;
}

.v63_66 {
    width: 370px;
    color: rgba(49, 49, 49, 1);
    position: absolute;
    top: 284px;
    left: 840px;
    font-weight: Regular;
    font-size: 16px;
    text-align: justified;
}

.v63_69 {
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 458px;
    left: 975px;
}

.v63_70 {
    width: 73px;
    height: 73px;
    background: url("/imagem/icon_alvo.png");
    position: absolute;
    top: 9px;
    left: 12px;
}

.v63_74 {
    width: 202px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 95px;
    left: 619px;
    font-weight: Bold;
    font-size: 34px;
    text-align: center;
}

.v49_10 {
    width: 100%;
    height: 768px;
    background: url("../images/v49_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.gradientPO {
    width: 100vw;
    height: 768px;
    position: relative;
    background: linear-gradient(rgba(236, 216, 205, 1), rgba(255, 255, 255, 1));

}

.v49_5 {
    width: 100%;
    height: 768px;
    background: url("../images/v49_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.v8_3 {
    width: 45px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 12px;
    left: 762px;
    font-weight: Regular;
    font-size: 16px;
    text-align: left;
}

.v24_12 {
    width: 220px;
    height: 41px;
    background: url("../images/v24_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 503px;
    left: 210px;
}

.btn_proucurarONGs {
    width: 220px;
    height: 41px;
    background: rgba(122, 58, 36, 0.75);
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.v24_9 {
    width: 108px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 11px;
    left: 56px;
    font-weight: Bold;
    font-size: 16px;
    text-align: left;
}