@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.gradientCachorro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #ecd8cd 85.55%,
    rgba(236, 216, 205, 0.3) 100%
  );
  mix-blend-mode: normal;
}
.cachorro {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: auto 90%;
  background-image: url(/imagem/Cao.png);
  background-repeat: no-repeat;
  background-position: 90% 100px;
  mix-blend-mode: normal;
}

.backgroundONGs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(236, 216, 205, 0) 87.24%,
    #ffffff 100%
  );
}
.text {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  padding-left: 200px;
}
.titulo {
  margin-top: 390px;
  margin-bottom: 15px;
  margin-left: 80px;
}
.titulo h1 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  mix-blend-mode: normal;
}
.text p {
  top: 50%;
  width: 370px;
  height: 149px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  color: #595959;
}
.paragrafo {
  margin-left: 20px;
}
.btn-menu {
  margin-left: 220px;
  margin-top: 50px;
  display: flex;
  border: none;
  background: none;
  border-radius: 2px;
}
.hamburguer {
  border-top: 6px solid;
  width: 60px;
}
.hamburguer::after,
.hamburguer::before {
  width: 60px;
  height: 6px;
  background: currentColor;
  content: "";
  display: block;
  margin-top: 9px;
}
.btn-ong {
  margin-left: 290px;
  margin-top: 540px;
}
.btn {
  font-size: 16px;
  font-weight: 700;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  padding: 11px;
  padding-left: 56px;
  padding-right: 56px;
  background-color: #7a3a24;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
.quem-somos {
  width: 100vw;
  height: 70vh;
  background-color: #ffffff;
}
.tituloQuemSomos {
  padding-top: 100px;
  padding-left: 620px;
  white-space: nowrap;
}
.tituloQuemSomos h1 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.sobreNos {
  padding-top: 125px;
  width: 370px;
  text-align: center;
  margin-bottom: 30px;
}
.sobreNos h1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.conteinerHorizontal {
  display: flex;
  flex-direction: row;
}
.conteinerHorizontal div {
  margin-left: 110px;
  margin-right: 50px;
  text-align: center;
}
.iconPessoas {
  background-image: url(/imagem/icon_pessoas.png);
  width: 370px;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
}
.iconAlvo {
  background-image: url(/imagem/icon_alvo.png);
  width: 370px;
  height: 74px;
  background-repeat: no-repeat;
  background-position: center;
}

.metaDia {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}
.gradientMeta {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
    to top,
    rgba(236, 216, 205, 0) 87.24%,
    #ffffff 100%
  );
}

.tituloMeta {
  margin-top: 240px;
  padding-left: 650px;
  white-space: nowrap;
}
.tituloMeta h1 {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.infoAnimal {
  
}
.infoAnimal h1 {
  font-family: "Roboto", sans-serif;
  margin: 175px 459px 0px 980px;
}
.infoAnimal p {
  margin-top: 20px;
  margin-left: 850px;
}
.gato {
  position: absolute;
  background-image: url(/imagem/imagem_meta.png);
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 410px;
  margin-left: 370px;
}
.backgroundMeta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #ecd8cd 85.55%,
    rgba(236, 216, 205, 0.3) 100%
  );
  mix-blend-mode: normal;
}
.btn-meta {
  margin-left: 160px;
  margin-top: 690px;
}

footer {
  position: absolute;
  width: 100%;
  height: 94px;
  background: #525252;
  opacity: 0.85;
}
.funcionalidades{
}